In [1]:
LIST=[1,2,4,5,7,3,23,56,7,4,7,34,9,5,3,1,343,76,9,345,45,455,678,346,742,8,65]

### 1.	Write a Python program to find sum of elements in list?

In [2]:
def sum_of_list(X):
    '''This function takes list as an 
    input and returns the sum of the list
    '''
    #x=input("Enter a list ")
    counter = 0
    for numbers in X:
        counter +=numbers
    return counter

sum_of_list(LIST)

3283

### 2.	Write a Python program to  Multiply all numbers in the list?

In [3]:

%%time
def mul_of_list(X):
    '''This function takes list as an 
    input and returns the product of the list
    '''
    #x=input("Enter a list ")
    counter = 1
    for numbers in X:
        counter *=numbers
    return counter


mul_of_list(LIST)

CPU times: total: 0 ns
Wall time: 0 ns

146005822385417714232733968384000000

### 3.	Write a Python program to find smallest number in a list?

In [4]:
def smallest_num_list(X):
    '''This function takes list as an 
    input and returns the product of the list
    '''
    X=sorted(set(X),reverse=True)
    print(X)
    return X[-1]
    


smallest_num_list(LIST)

[742, 678, 455, 346, 345, 343, 76, 65, 56, 45, 34, 23, 9, 8, 7, 5, 4, 3, 2, 1]

1

### 4.	Write a Python program to find largest number in a list?

In [5]:
def largest_num_list(X):
    '''This function takes list as an 
    input and returns the largest number in the list
    '''
    X=sorted(set(X),reverse=True)
    print(X)
    return X[0]


largest_num_list(LIST)

[742, 678, 455, 346, 345, 343, 76, 65, 56, 45, 34, 23, 9, 8, 7, 5, 4, 3, 2, 1]

742

### 5.	Write a Python program to find second largest number in a list?

In [6]:
def largest_second_number(X):
    '''This function takes list as an 
    input and return the largest second number as the output 

    '''
    X=sorted(set(X),reverse=True)
    print(X)
    return X[1]


largest_second_number(LIST)

[742, 678, 455, 346, 345, 343, 76, 65, 56, 45, 34, 23, 9, 8, 7, 5, 4, 3, 2, 1]

678

### 6.	Write a Python program to find N largest elements from a list?

In [7]:
LIST=[1,2,4,5,7,3,23,56,7,4,7,34,9,5,3,1,343,76,9,345,45,455,678,346,742,8,65]

def n_largest(k:int,List_number:list):
    x = sorted(List_number)
    print(len(x))
    if len(x)>=k:
        print(f' {k} element in the list is {x[k]}')
    else:
        return 'Kth number is greater than length of List'

In [8]:
n_largest(10,LIST)

27
 10 element in the list is 7

### 7.	Write a Python program to print even numbers in a list?

In [9]:
def even(x):
    for num in x:
        if num%2 ==0:
            yield num

x=even(LIST)
list(x)

[2, 4, 56, 4, 34, 76, 678, 346, 742, 8]

### 8.	Write a Python program to print odd numbers in a List?

In [10]:
def odd(x):
    for num in x:
        if num%2 !=0:
            yield num

x=odd(LIST)
list(x)

[1, 5, 7, 3, 23, 7, 7, 9, 5, 3, 1, 343, 9, 345, 45, 455, 65]

### 9.	Write a Python program to Remove empty List from List?

In [11]:
list_=[[2], [3, 4, 5, 6], [], [34, 2, 4, 5], [], [], [], [5, 8]]

 
# Printing original list
print("The original list is : " + str(list_))
 
# Removing empty List from List
# using filter() method
res = list(filter(None, list_))
 
# Printing the resultant list
print("List after empty list removal : " + str(res))

The original list is : [[2], [3, 4, 5, 6], [], [34, 2, 4, 5], [], [], [], [5, 8]]
List after empty list removal : [[2], [3, 4, 5, 6], [34, 2, 4, 5], [5, 8]]

### 10.	Write a Python program to Cloning or Copying a list?

In [24]:
import copy
original_list = [1, 2, 3, 4, 5]
cloned_list = copy.deepcopy(original_list)
cloned_list.append(10)
print(cloned_list)
print(original_list)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5]

### 11.	Write a Python program to Count occurrences of an element in a list?

In [35]:
def count_occurenec(x,list1):
    counter = 0
    for i in list1:
        if i==x:
            counter += 1
    return counter

if __name__=='__main__':
    list1=[12,34,56,234,56,34,67,908,-9,43,78,544,68,90]
    x=34
    print(count_occurenec(x,list1))

3