Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [15]:
def evenly_divisible(a,b,c):
    d=0
    for i in range(a,b+1):
        if i%c==0:
            d+=i
    return d

In [18]:
evenly_divisible(1, 10, 20)

0

In [19]:
evenly_divisible(1, 10, 2)

30

In [20]:
evenly_divisible(1, 10, 3)

18

In [ ]:
Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [43]:
def correct_signs(x):
    if eval(x)==True:
        return True
    else:
        return False

In [44]:
correct_signs("3 < 7 < 11")

True

In [45]:
correct_signs("13 > 44 > 33 > 1")

False

In [46]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

Question3. Create a function that replaces all the vowels in a string with a specified character.

Examples

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [8]:
def replace_vowels(x,sub):
    
    vowels=["a","e","i","o","u","A","E","I","U","O"]
    for ele in x:
        if ele in vowels:
            x=x.replace(ele,sub)
    return x

if __name__=="__main__":
    print(replace_vowels("the aardvark", "#"))
    print(replace_vowels("minnie mouse", "?"))
    print(replace_vowels("shakespeare", "*"))

th# ##rdv#rk
m?nn?? m??s?
sh*k*sp**r*

Question4. Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [35]:
def factorial(x):
    ele=1
    for i in range(1,x+1):
        ele*=i
    return ele

In [36]:
factorial(5)

120

In [37]:
factorial(3)

6

In [38]:
factorial(1)

1

In [39]:
factorial(0)

1

In [ ]:
Question 5
Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [12]:
def hamming_distance(x,y):
    if len(x) == len(y):
        count=0
        for i in range(len(x)):
            if x[i] != y[i]:
                count +=1
        return count
    else:
        return "Enter a both the string of the same length"

In [22]:
print("Hamming distance of string {} and {}  is >> {}".format("abcde","bcdef",hamming_distance("abcde", "bcdef")))
print("Hamming distance of string {} and {}  is >> {}".format('abcde','abcde',hamming_distance("abcde", "abcde")))

print('Hamming distance of string {} and {}  is >> {}'.format('strong','strung',hamming_distance("strong", "strung")))

Hamming distance of string abcde and bcdef  is >> 5
Hamming distance of string abcde and abcde  is >> 0
Hamming distance of string strong and strung  is >> 1